.sidebar {
  overflow: hidden;
  top: 0;
  left: 0;
  position: fixed;
}

.side-heading:hover {
  background-color: rgb(91, 91, 91);
}

.w-sidebar {
  width: 12%;
}

.list:hover {
  background-color: rgb(91, 91, 91);
}

#active {
  background-color: rgb(91, 91, 91);
}

#icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

#title {
  flex: 70%;
}

#icon:hover {
  cursor: pointer;
}

#title:hover {
  cursor: pointer;
}
