.sidebar {
  overflow: hidden;
  top: 0;
  left: 0;
  position: fixed;
}

.side-heading {
  border-color: black;
}

.side-heading:hover {
  background-color: rgba(91, 91, 91, 0.216);
}

.w-sidebar {
  width: 12%;
}

.list:hover {
  background-color: rgb(91, 91, 91, 0.216);
}

#active {
  background-color: rgb(91, 91, 91, 0.216);
}

#icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

#title {
  flex: 70%;
}

#icon:hover {
  cursor: pointer;
}

#title:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  #title {
    display: none;
  }

  #company span {
    display: none;
  }
}
