.w-sidebar {
  width: 16%;
}
.sidebar {
  overflow: hidden;
  top: 0;
  left: 0;
  position: fixed;
}

.side-heading {
  border-color: black;
}

.side-heading:hover {
  background-color: rgba(91, 91, 91, 0.216);
}

.list:hover {
  background-color: rgb(91, 91, 91, 0.216);
}

#active {
  background-color: rgb(91, 91, 91, 0.216);
}

#icon {
  display: grid;
  grid-template-columns: 1fr 7fr;
}

#icon-img {
  place-items: center;
  justify-content: end;
  width: 20px;
  filter: grayscale(100%);
  filter: opacity(50%);
}

.fs-small {
  font-size: smaller;
}

.fs-smaller {
  font-size: smaller;
}

#icon:hover {
  cursor: pointer;
}

#title:hover {
  cursor: pointer;
}

@media (max-width: 1200px) {
  #title {
    display: none;
  }

  #icon {
    display: flex;
  }

  #company span {
    display: none;
  }
}

@media (max-width: 768px) {
  #title {
    display: none;
  }

  #icon {
    display: flex;
  }

  #company span {
    display: none;
  }
}
