.card-div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: stretch;
  box-sizing: border-box;
}

.card-container {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  box-sizing: border-box;
  /* width: 95%; */
}

.card-body {
  width: 100%;
}

#icon-card {
  display: grid;
  grid-template-columns: 1fr 7fr;
}

#icon-img-card {
  place-items: center;
  justify-content: end;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  /* filter: grayscale(100%); */
  /* filter: opacity(50%); */
}

.fs-small {
  font-size: smaller;
}

.active {
  font-size: smaller;
  background-color: rgba(166, 255, 154, 0.366);
  width: 50px;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .card-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    box-sizing: border-box;
  }
}

@media (max-width: 768px) {
  .card-div {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    box-sizing: border-box;
  }
}
