.table-div {
  width: 100%;
}

@media (max-width: 720px) {
  .table-div {
    display: none;
  }
}

.button-width {
  width: 10%;
}

.active {
  font-size: small;
}

.fs-small {
  font-size: small;
}
