.header {
  /* margin-top: 0.5%; */
  margin-left: 12%;
  /* margin-right: 0.5%; */
  height: 12.5%;
  /* background-color: aqua; */
}

.bell {
  box-sizing: border-box;
}

@media (max-width: 810px) {
  #profile {
    display: none;
  }
}
