.header {
  /* margin-top: 0.5%; */
  margin-left: 16%;
  /* margin-right: 0.5%; */
  height: 12.5%;
  /* background-color: aqua; */
  background-color: #ffffff;
}

.profile {
  display: grid;
  grid-template-columns: 1fr 0.75fr 1fr 1fr;
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  top: 0;
}

.profile-img {
  margin-top: 5px;
  width: 50px;
}

@media (max-width: 1000px) {
  #profile {
    width: 25%;
  }

  .profile {
    display: grid;
    grid-template-columns: 1fr;
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    top: 0;
  }

  .bell {
    display: none;
  }

  .name {
    display: none;
  }

  .role {
    display: none;
  }

  .arrow {
    display: none;
  }
}

@media (max-width: 720px) {
  #profile {
    display: none;
  }
}
